@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: grey;
}
.card {
  flex-flow: row;
  text-align: center;
  background: white;
  margin: auto;
  height: 400px;
  font-size: 80px;
  width: 250px;
  border-radius: 5px;
  position: relative;
}
.top-suit {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 80px;
}
.number{
  position: absolute;
  font-size: 80px;
  top: 35%;
  align-items: center;
  left: 90px;
}

.bottom-suit {
  position: absolute;
  transform: rotate(180deg);
  display: inline-block;
  bottom: 0;
  right: 10px;
}
